/* General CSS reset for scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Ensure this class is applied to the element you want to hide the scrollbar for */
.scrollable-popup {
  overflow: auto; /* Allow scrolling if necessary */
}

/* Form container styling */
.form-container {
  max-height: 70vh; /* Set max height to control the form container's height */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  border: 1px solid #e5e7eb; /* Optional: border to visualize */
  padding: 1rem; /* Add some padding inside the form */
}

/* Hide scrollbar within the form container */
.form-container::-webkit-scrollbar {
  display: none;
}

.form-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-loader svg path {
  stroke: #6a38c2 !important;
}

.input-style {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}